body{
    background-color: #ffe6cc;
    margin: 0;
    padding: 0;
}

.app-title{
    text-align: center;
}

.current-player{
    text-align: center;
}

.board{
    width: fit-content;
    margin: 40px auto;
    background-color: #ffa94d;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
}

.box{
    background-color: white;
    height: 100px;
    width: 100px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px  rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.box:hover{
    cursor: pointer;
}

.row{
    display: flex;
}